<br />

<h1>Bienvenido a <i>Tienda de Alfajores</i>, el sitio especializado en las delicias dulces argentinas.</h1>
<br />
<p>De raíces europeas y orígenes en la época colonial, el alfajor es un producto tradicional de la pastelería argentina. Cada región del país tiene sus alfajores característicos, generalmente definidos por las materias primas de las provincias.</p>
<br />
<p>Con el correr del tiempo, el alfajor se volvió una golosina de consumo masivo consumido por personas de todas las edades.</p>
<br />
<p>En nuestra tienda nos dedicamos a vender alfajores artesanales de los fabricantes regionales más destacados del país.</p>

<br />
<br />

<div class="paginador">
<a class="botonPaginacion" href="/products">Ver nuestros productos</a>
</div>