<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Tienda de Alfajores</title>
</head>
<body>
    <header>
    <nav class="navbar">
        <div class="nav-part">
            <a href="/"><img src="/images/TiendaDeAlfajores_Logo.png" alt="Tienda" /></a>
            <a class="nav-link" href="/products">Productos</a>
        </div>
        <div class="nav-part">
                <a class="nav-link" href="/profile">Perfil</a>
                <a class="nav-link" href="/register">Registro</a>
                <a class="nav-link" href="/login">Login</a>
        </div>
    </nav>
    </header>
    <main>
    {{{body}}}
    <br />
    </main>
</body>
</html>